/* poppins google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* the layout */
:root {
  --primary-color: #1ac695;
  --error-color: #eb1382;
}

body {

  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins", sans-serif, monospace;
}

header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color: var(--primary-color);
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.blog-details {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #ffffff; /* White background color */
}

.blog-details h3 {
  margin-bottom: 20px;
}

.blog-details p {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* hero-section styles */
.hero-section {

  background-image: url('../images/blog.jpg');
  background-size: cover;
  background-position: center;
  width: 85%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: auto;
}

.hero-section h1 {
  font-size: 2.0em;
}

.hero-section p {
  font-size: 1.2em;
}

/* hero button styles */
.get-started {
  display: inline-block;
  border-radius: 4px;
  background-color: #069314;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.get-started span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.get-started span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.get-started:hover span {
  padding-right: 25px;
}

.get-started:hover span:after {
  opacity: 1;
  right: 0;
}

